# .gitignore
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode

# Node modules
node_modules/

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Parcel-bundler cache (https://parceljs.org/)
.cache/

# Storybook files
storybook-static/

# Sentry CLI files
.sentryclirc

# TernJS port file
.tern-port

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# Gatsby files
public/

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# Stylelint cache
.stylelintcache

# Temporary files
tmp/
temp/

frontend/node_modules/.cache/default-development/index.pack.old
frontend/node_modules/.cache/default-development/index.pack
frontend/node_modules/.cache/default-development/2.pack
frontend/node_modules/.cache/default-development/1.pack
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/.eslintcache
