* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Play';
  src: url('./fonts/Play-Regular.ttf');
}

.login {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  font-family: Play, sans-serif;
}

.left-pane {
  display: flex;
  width: 40%;
  background-color: #303F80;
  height: 100vh;
    justify-content: center;
    align-items: center;
}

.pklogo {
  height: 300px;
  width: 300px;
}

.right-pane {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/airport.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container-right{
  background: white;
  width: 600px;
  height: 800px;
  box-shadow: 0px 0px 40px 5px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login-inputs-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
  width: 80%;
}
.login-inputs {
  height: 30px;
  border: none;
  border-bottom: 2px solid #303F80;
  font-family: Play, sans-serif;
  font-size: 20px;
}

.login-inputs:focus {
  outline: none;
}

.confirm-btn {
    background-color: #303F80;
    color: white;
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 50px;
    font-size: 25px;
    font-family: Play, sans-serif;
}

.notice {
  opacity: 40%;
}

.login-header {
  font-size: 40px;
}

.notice {
  font-size: 25px;
  width: 80%;
  display: flex;
  text-align: center;
}

@media screen and (max-height: 1000px) {
  .login-container-right{
    height: 600px;
    width: 400px;
  }

  .login-header {
    font-size: 30px;
  }

  .notice {
    font-size: 20px;
  }

  .confirm-btn {
    font-size: 20px;
    width: 200px;
  }

  .pklogo {
    width: 200px;
    height: 200px;
  }
}