/* General styles */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Play';
  src: url('./fonts/Play-Regular.ttf');
}

.login {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  font-family: Play, sans-serif;
}

.left-pane {
  display: flex;
  width: 40%;
  background-color: #303F80;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.pklogo {
  height: 300px;
  width: 300px;
}

.right-pane {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/airport.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container-right {
  background: white;
  width: 600px;
  height: 800px;
  box-shadow: 0px 0px 40px 5px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
  width: 80%;
}

.login-inputs {
  height: 30px;
  border: none;
  border-bottom: 2px solid #303F80;
  font-family: Play, sans-serif;
  font-size: 20px;
}

.login-inputs:focus {
  outline: none;
}

.confirm-btn {
  background-color: #303F80;
  color: white;
  border: none;
  border-radius: 25px;
  width: 300px;
  height: 50px;
  font-size: 25px;
  font-family: Play, sans-serif;
  transition: transform 0.2s;
}

.confirm-btn:hover {
  transform: scale(1.1);
}

.notice {
  opacity: 40%;
}

.login-header {
  font-size: 40px;
}

.notice {
  font-size: 25px;
  width: 80%;
  display: flex;
  text-align: center;
}

.main-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: Play, sans-serif;
}

.page-header {
  height: 10vh;
  background: #303F80;
  width: 100%;
  display: flex;
}

.page-header-image {
  height: 10vh;
  width: 90%;
  display: flex;
  align-items: center;
}

.page-header-button {
  height: 10vh;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 30px;
}

.header-button {
  width: 75px;
  height: 75px;
  background-image: url(./img/logout.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 5px #000000;
}

.header-button-back {
  background-image: url(./img/arrow.png);
}

.pklogo-header {
  height: 75px;
  width: 75px;
  margin-left: 20px;
}

.dashboard-message {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.dashboard-buttons {
  height: 40vh;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.dashboard-button {
  height: 200px;
  width: 200px;
  box-shadow: inset 0 0 20px #000000;
  border: none;
  border-radius: 10px;
  transition: transform 0.4s;
}

.dashboard-button:hover {
  transform: scale(1.05);
}

.red {
  background-color: #F85858;
}

.yellow {
  background-color: #FFC64B;
}

.blue {
  background-color: #79ACF9;
}

.green {
  background-color: #7CD062;
}

.dashboard-button-icon {
  height: 150px;
  width: 150px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.button-heading {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.container-middle {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingInfo {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.staff-form {
  height: 50vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.staff-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input-box {
    height: 30px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Play, sans-serif;
    font-size: 20px;
}

.staff-button {
    height: 50px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    font-family: Play, sans-serif;
    box-shadow: inset 0 0 15px #000000;
}



.staff-card {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.staff-card-container {
  height: 300px;
  width: 600px;
  background: #c1ef88;
  border-radius: 20px;
  box-shadow: inset 0 0 30px 1px #000000;
  display: flex;
}

.staff-card-image {
  width: 40%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.staff-card-info {
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.user-icon {
  width: 100px;
  border: 1px solid #c5c5c5;
  box-shadow: 0px 0px 5px 1px #000000;
}

.staff-card-buttons {
  display: flex;
  gap: 10px;
}

.button-styled {
  height: 50px;
  width: 200px;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 25px;
  font-family: Play, sans-serif;
  box-shadow: inset 0 0 15px #000000;
}

.form-list-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.justify-content-center {
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  gap: 20px;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-buttons {
  display: flex;
  gap: 20px;
}

.orange {
    background-color: #FFA500;
}

.single-centered-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
  .dashboard-buttons {
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }

  .dashboard-button {
    height: 150px;
    width: 150px;
  }

  .dashboard-button-icon {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .dashboard-buttons {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .dashboard-button {
    height: 100px;
    width: 100px;
  }

  .dashboard-button-icon {
    height: 75px;
    width: 75px;
  }
}

@media screen and (max-height: 1000px) {
  .login-container-right {
    height: 600px;
    width: 400px;
  }

  .login-header {
    font-size: 30px;
  }

  .notice {
    font-size: 20px;
  }

  .confirm-btn {
    font-size: 20px;
    width: 200px;
  }

  .pklogo {
    width: 200px;
    height: 200px;
  }

  .header-button {
    width: 50px;
    height: 50px;
  }

  .pklogo-header {
    height: 50px;
    width: 50px;
  }
}